<?xml version="1.0" encoding="UTF-8"?><project-modules id="moduleCoreId" project-version="1.5.0">
    <wb-module deploy-name="CTCExternalRules">
        <wb-resource deploy-path="/" source-path="/BundleContent" tag="defaultRootSource"/>
        <wb-resource deploy-path="/" source-path="/src"/>
        <wb-resource deploy-path="/" source-path="/.apt_generated"/>
    </wb-module>
</project-modules>